/* UTILITIES */
section{
    margin: 50px 0;
}




/* HEADER */
#logo-sony{
    height: 30px;
}

/* JUMBOTRON */
.jumbotron{
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

#top-jumbo{
    background-image: url(../img/jumbo-bg.png);
}

#middle-jumbo{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg); 
}

#return{
    max-width: 100%; 
}

#takes{
    height: 50%;
    width: 50%;
}


/* DEVICE */
.image{
    width: 100%;
    height: 150px;
}

.carousel{
    height: 200px;
    width: 200px;
}

/* IMAGES */
.images img{
    border-radius: 20px;
}

