/* UTILITIES */
section{
    padding: 50px 0;
}

.card{
    border: 0;
}



/* HEADER */


#logo-sony{
    height: 20px;
}

/* JUMBOTRON */
.jumbotron{
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

#top-jumbo{
    background-image: url(../img/jumbo-bg.png);
}

#middle-jumbo{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg); 
}

/* IMAGE */
.image{
    width: 100%;
    height: 150px;
}

/* DEVICE */
.carousel{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 200px;
    max-height: 300px;
}

#play-5{
    background-image: url(../img/playstation-5-thumb.png);
}
#controller{
    background-image: url(../img/joypad-thumb.png);
}
#headset{
    background-image: url(../img/headset-thumb.png);
}
#remote{
    background-image: url(../img/remote-thumb.png);
}
#camera{
    background-image: url(../img/camera-thumb.jpg);
}


/* IMAGES */
.images img{
    border-radius: 20px;
}

/* ABBONAMENTI */
#plus{
    max-width: 300px;
}

#plus-block{
    min-height: 400px;
    max-height: 600px;
    width: 100%;
}

#now{
    max-width: 300px;
}

#now-block{
    min-height: 400px;
    max-height: 800px;
    width: 100%;
}

.sale{
    max-width: 200px;
}

footer{
    min-height: 800px;
}

#sie{
    width: 200px;
}